/* GENERALI */
*{
    font-family: 'Roboto', sans-serif;
}

body div > header{
    width: 100%;
    /*! altezza da modificare */
    height: 50px;
    background-color: #ffffff;
}

body div > aside{
    width: 50px;
    background-color: #051e34;
    /*! altezza da modificare */
    height: calc(100% - 50px);
}

main{
    width: calc(100% - 50px);
    background-color: #b9d6f3;
    /*! altezza da modificare */
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.my_header-pills{
    font-size: 0.8rem;
}

/* colori */

.my_bc-blue{
    background-color: #1b72e8;
}

.my_bc-blue-pill{
    background-color: #165bba;
}

.my_bc-green-pill{
    background-color: #198754;
}

.my_bc-yellow-pill{
    background-color: #ffc20a;
}

.my_bc-red-pill{
    background-color: #dc3545;
}

/* SPECIFICHE */

/*?Header */
header a.navbar-brand img:first-child{
    height: 45px;
}



/*?Aside */
aside{
    background-image: url(../img/sidebar-bg.png);
}

aside li a{
    width: 100%;
}

aside li a:hover {
    background-color: gray;
}

/*?Main */

/*main header */
main header div > div,
main header div div.my_info-students > *{
    width: 100%;
}

header .my_header-pills{
    background-color: #165bba;
}

header .my-add-student-btn{
    color: white;
    border-color: white;
}
main header .offcanvas.offcanvas-end{
    width: 45%;
}
/* card */

/* !prima card */
.my_rounded-container{
    color: white;
    height: 40px;
    width: 40px;
    background-color: #f26551;
    border-radius: 50px;
}

#th_nome {
    width: 50%;
}

/* RESPONSIVE */

@media screen and (min-width:768px){
    /* main header */
    main header div > div.my_info-students{
        width: calc((100% / 3) * 2);
    }

    main header div > div.my_add-students{
        width: calc(100% / 3);
    }

    main header div div.my_info-students > *{
        width: 50%;
    }
    

}


@media screen and (min-width:992px){
    /* header */

    /* aside */
    body div > aside{
        width: 150px;
    }

    aside li a{
        width: 110px;
    }
    


    /* main */
    main{
        width: calc(100% - 150px);
    }

    /*? main header */

    main header div div.my_info-students:last-child{
        padding-left: 5rem;
    }

    main header div > div.my_add-students{
        padding-left: 5rem;
    }
}