/* GENERALI */
*{
    font-family: 'Roboto', sans-serif;
}

body div > header{
    width: 100%;
    /*! altezza da rimuovere */
    height: 50px;
    /*! colore da modificare */
    background-color: #ffffff;
}

body div > aside{
    width: 50px;
    background-color: #051e34;
    /*! altezza da rimuovere */
    height: calc(100% - 50px);
}

main{
    width: calc(100% - 50px);
    background-color: #b9d6f3;
    /*! altezza da rimuovere */
    height: calc(100% - 50px);
    overflow-y: scroll;
}

/* colori */

.my_bc-blue{
    background-color: #1b72e8;
}

/* SPECIFICHE */

/*?Header */
header a.navbar-brand img:first-child{
    height: 45px;
}



/*?Aside */

/*?Main */
.my_card-big,
.my_card-small{
    width: 100%;
}

/* header */
main header div > *,
main header div div.my_info-students > *{
    width: 100%;
}

/* RESPONSIVE */

@media screen and (min-width:768px){
    /* main header */
    main header div > div.my_info-students{
        width: calc((100% / 3) * 2);
    }

    main header div > div.my_add-students{
        width: calc(100% / 3);
    }

    main header div div.my_info-students > *{
        width: 50%;
    }
    

}


@media screen and (min-width:992px){
    /* header */

    /* aside */
    body div > aside{
        width: 150px;
    }


    /* main */
    main{
        width: calc(100% - 150px);
    }

    .my_card-big{
        width: 70%;
        padding-right: 1.5rem;
    }

    .my_card-small{
        width: 30%;
    }

    /*? main header */

    main header div div.my_info-students:last-child{
        padding-left: 5rem;
    }

    main header div > div.my_add-students{
        padding-left: 5rem;
    }
}